# Homework 04

In this assignment, you will practice wrangling data through different formats, with missing data, and working with text.

## Part 1: Text wrangling and regular expressions
In this part, we will work with the citation file exported from the [Nature Review Article](https://www.nature.com/articles/s41586-020-2649-2) *Array Programming with NumPy*. Below we read the file into the Python variable `cite` and print the result for you to preview.

It is fine to use `for` loops in this part since it involves parsing code before putting them into a `DataFrame`.

In [ ]:
# Run but do not modify this code
import pandas as pd
import seaborn as sns

data1 = pd.read_csv("data1.csv")
data2 = pd.read_csv("data2.csv")
data3 = pd.read_csv("data3.csv")
data4 = pd.read_csv("data4.csv")
data1.head()

all_songs = pd.concat([data1, data2, data3, data4])
all_songs.head()

### Summary stats

In [38]:
avg_danceability = all_songs["danceability"].mean()
avg_acousticness = all_songs["acousticness"].mean()
avg_valence = all_songs["valence"].mean()

print("average danceability:") 
print(avg_danceability)
print("average acousticness: ")
print(avg_acousticness)
print("average valence(positivity): ")
print(avg_valence)

average danceability:
0.49305652179149567
average acousticness:
0.44675109819685244
average valence(positivity):
0.42798662251866953

### How features change over time

In [ ]:

sns.barplot(x = "danceability", y="year", data=all_songs[all_songs["year"] > 1968]) #there are a few songs from before the 1970s but not many  
sns.barplot(x = "acousticness", y="year", data=all_songs[all_songs["year"] > 1968])
sns.barplot(x = "valence", y="year", data=all_songs[all_songs["year"] > 1968])

### How features change for specific artists

In [25]:
#Only 3 Taylor Swift songs were in the dataset but because she's had a varied career it might be worth finding a dataset with her songs 
#Potential artists: Megan Thee Stallion, Bob Dylan, Hall and Oats

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
182719,06339owDc0JuH2pttTLsAP,La Vieja,Folklore,6jUZ2Z1kHaDQQIESJ0GXj1,['Soledad'],['0K59Fm1y7s3j498ueS4qzY'],1,1,False,0.791,...,0.0929,0.710,0.000081,0.0395,0.634,111.907,116573,4.0,2008,2008
182720,4nHZbc371EF10x5Ux0DC3A,Zamba por Vos,Folklore,6jUZ2Z1kHaDQQIESJ0GXj1,['Soledad'],['0K59Fm1y7s3j498ueS4qzY'],2,1,False,0.635,...,0.0523,0.844,0.058300,0.1210,0.365,174.695,186587,3.0,2008,2008
182721,11c4JShh8ZPIXyLO2rSaOd,Virgen India,Folklore,6jUZ2Z1kHaDQQIESJ0GXj1,['Soledad'],['0K59Fm1y7s3j498ueS4qzY'],3,1,False,0.797,...,0.0740,0.833,0.000279,0.1050,0.872,149.948,188320,3.0,2008,2008
182722,18hHOV3fP8kTwOw02KV2ol,Canción Del Jornalero,Folklore,6jUZ2Z1kHaDQQIESJ0GXj1,['Soledad'],['0K59Fm1y7s3j498ueS4qzY'],4,1,False,0.795,...,0.0588,0.728,0.000007,0.1460,0.793,127.006,144240,4.0,2008,2008
182723,1gaHbXj4y88DEj3Ha2Dlf3,Del Tiempo De Mi Niñez,Folklore,6jUZ2Z1kHaDQQIESJ0GXj1,['Soledad'],['0K59Fm1y7s3j498ueS4qzY'],5,1,False,0.853,...,0.0657,0.503,0.022800,0.0599,0.702,110.440,127760,4.0,2008,2008

In [7]:
# Put your code to answer the question here, and store the answer as the following variable
# Please keep author names in the original order

        first     middle             last
0     Charles         R.           Harris
1          K.     Jarrod          Millman
2      Stéfan         J.     van der Walt
3        Ralf                     Gommers
4       Pauli                    Virtanen
5       David                  Cournapeau
6        Eric                      Wieser
7      Julian                      Taylor
8   Sebastian                        Berg
9   Nathaniel         J.            Smith
10     Robert                        Kern
11      Matti                       Picus
12    Stephan                       Hoyer
13     Marten         H.     van Kerkwijk
14    Matthew                       Brett
15      Allan                     Haldane
16      Jaime  Fernández          del Río
17       Mark                       Wiebe
18      Pearu                    Peterson
19     Pierre             Gérard-Marchant
20      Kevin                    Sheppard
21      Tyler                       Reddy
22     Warren                   Weckesser
23     Hameer                       bbasi
24  Christoph                      Gohlke
25     Travis         E.         Oliphant

### Question 3 (12 points)
Below we extract the abstract from the citation and store it in a string variable `abstract`. Write regular expressions to answer the following questions about the abstract.

1. In `q3_1` put the starting index of everywhere `NumPy` appears in the abstract (i.e., the index of the `N` wherever `NumPy` occurs in the `abstract` string). This should be case sensitive.
2. In `q3_2` put all of the capitalized words in `abstract`, including words with extra capitalized letters like `NumPy` and `NumPy-like`.
3. In `q3_3` put all of the words that immediately follow `NumPy`, but do not include the word `NumPy` itself. For the one occurrence it is hyphenated `NumPy-like`, use `-like`.

In [9]:
# Run but do not modify this code
import re
abstract_query = re.compile(r"AB  - (.+)")
abstract = re.search(abstract_query, cite).group(1)
print(abstract)

#get

Array programming provides a powerful, compact and expressive syntax for accessing, manipulating and operating on data in vectors, matrices and higher-dimensional arrays. NumPy is the primary array programming library for the Python language. It has an essential role in research analysis pipelines in fields as diverse as physics, chemistry, astronomy, geoscience, biology, psychology, materials science, engineering, finance and economics. For example, in astronomy, NumPy was an important part of the software stack used in the discovery of gravitational waves1 and in the first imaging of a black hole2. Here we review how a few fundamental array concepts lead to a simple and powerful programming paradigm for organizing, exploring and analysing scientific data. NumPy is the foundation upon which the scientific Python ecosystem is constructed. It is so pervasive that several projects, targeting audiences with specialized needs, have developed their own NumPy-like interfaces and array objects. Owing to its central position in the ecosystem, NumPy increasingly acts as an interoperability layer between such array computation libraries and, together with its application programming interface (API), provides a flexible framework to support the next decade of scientific and industrial analysis.

In [10]:
# Put your code to answer the question here, and store the answer as the following variable
# Please allow duplication in your list

query1 = re.compile("NumPy")
result1= re.finditer(query1,abstract)
q3_1 = [match.start()+1 for match in result1] #dont need plus one 

query2 = re.compile(r"[A-Z][A-Za-z-]*")
q3_2 = re.findall(query2, abstract) # List of all the capitalized words
query3 = re.compile("NumPy ?([A-Za-z-]*)")
q3_3 = re.findall(query3, abstract) # List of words that immediately follow Numpy

...

#sys_df[col_name].str.extract(r"([0-9]+)").astype(int)
# Run but do not modify this code
print('q3_1:', q3_1)
print('q3_2:', q3_2)
print('q3_3:', q3_3)

q3_1: [172, 470, 769, 963, 1052]
q3_2: ['Array', 'NumPy', 'Python', 'It', 'For', 'NumPy', 'Here', 'NumPy', 'Python', 'It', 'NumPy-like', 'Owing', 'NumPy', 'API']
q3_3: ['is', 'was', 'is', '-like', 'increasingly']

## Part 2: Cleaning up more system logs CSV

In this part, we work with a piece of messy tabular data in the form of a poorly formatted csv file containing data about programs running on computer systems. It contains all of the data about system time and memory from Worked Example 4, but also includes new information about user ids and machine ids, and some data are missing in every column. (The user ids are made up and do not correspond to any real individuals).

### Question 4 (12 points, 2 manual points)

Below, we import the dataset using the Pandas `read_csv` function that creates a dataframe. Run the code; it will preview the first five rows.

**Do not** use `for` loops, unless it is guaranteed to iterate less than 50 times. The manual points are partially for checking for this. You are also likely to not pass some tests because iterating over the entire `DataFrame` sometimes causes issues with formatting.

In [3]:
# Run but do not modify this code
import pandas as pd
import numpy as np
sys_df = pd.read_csv("more_monitor.csv")
sys_df.head()

ser1 = pd.Series(range(2), index=['A', 'B'])
ser2 = pd.Series(range(2,4), index=['B', 'C'])
print(pd.concat([ser1, ser2], ignore_index=True))

lstA = [1,2,3,4,5,6,7]
lstB = [5,6,7,8,9,0]
print(jaccard(lstA,lstB))

0    0
1    1
2    2
3    3
dtype: int64

NameError: name 'jaccard' is not defined

There are several formatting issues with the default import. Address the following.

1. The `System User ID` and `System Machine ID` contain String data with the redundant information `User ID: ` and `Machine ID: ` in every row that has data. Remove these prefixes so that the columns only contain the user ids and machine ids themselves. Leave the `?` cells as is. For example, the first row should just have `yw22` in the `System User ID` column and `Carrot` in the `System Machine ID` column, while the second row should keep `?` for both columns.

2. The first three rows for `System Time second`, `System Memory GB` and `System Memory MB` contain numerical data but are currently formatted as strings with redundant prefix information repeating the column label and missing data represented as the string `?` instead of the Numpy `NaN` sentinel value. Fix this so that each value in the first three columns is either a single numerical value or `NaN` (note, you should use the actual `np.NaN` sentinal value, not just the String with the characters `N`, `a`, and `N`). For example, when you are done, the first three columns of the first row should all have `NaN` values, the second row should be `40`, `3`, and `382`, and so on. Note that the rows at index `400` and on have System Time recorded in minutes instead of seconds, be sure to convert these to seconds by mulitplying by 60.

3. Currently the System Memory is split accross two columns, one for the GB and one for the MB. For example, the total memory of the first program is 3 GB and 414 MB. Instead, represent the full system memory in the `System Memory GB` column, and get rid of the `System Memory MB` column. To do so, you need to convert the values in the MB column to GB (1 MB is 0.001 GB) and add that to the GB column, then use the [`drop` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html). Missing values should remain missing after this transformation.

When you are finished, `sys_df` should have the above issues corrected. Run both of the cells with `sys_df.head()` and `sys_df.tail()` to show the first and last few rows of your dataframe. Create a variable `q4` and have it point to this DataFrame.

In [ ]:
# Put your code to answer the question here, and store sys_df in q4 for full credit

sys_df["System User ID"] = sys_df["System User ID"].str.extract(r"User ID: ([A-Za-z0-9]*)")
sys_df["System Machine ID"] = sys_df["System Machine ID"].str.extract(r"Machine ID: ([A-Za-z0-9]*)")

sys_df["System Time second"][400:] *= 60

#for col_name in sys_df.columns[:3]:
    #sys_df[col_name].replace('?', np.NaN)
    #print(sys_df.head())
    #sys_df[col_name] = sys_df[col_name].str.extract(r"([0-9]+)").astype(int)

#sys_df["System Memory GB"] = sys_df["System Memory GB"] + sys_df["System Memory MB"]*0.001
#sys_df.drop(columns = "System Memory MB")
q4 = sys_df

# Run but do not modify this code
print(q4.head())

# Run but do not modify this code
print(q4.tail())

### Question 5 (12 points)
The `sys_df` dataframe from question 4 should now be a little easier to read and use. Answer the following questions about `sys_df`.

1. How many rows are missing data (have a `?`) in the `System Machine ID` column? Put your answer in `q5_1`.
2. What is the average value of `System Memory GB` among the rows that are missing data (have a `?`) in the `System User ID` column?  Put your answer in `q5_2`.
3. How many rows are missing data in both the `System Time second` and `System Memory GB` columns? Put your answer in `q5_3`.

In [30]:
# Put your code to answer the question here, and store answers as the following variables

q5_1 = sys_df["System Machine ID"# number of rows
q5_2 = ... # average System Memory GB
q5_3 = ... # number of missing rows

...

# Run but do not modify this code
print('q5_1:', q5_1)
print('q5_2:', q5_2)
print('q5_3:', q5_3)

## Part 3: Wrangling FDA JSON Dataset 
In this part we work with a messy JSON dataset containing information about several drugs labels.

### Question 6 (12 points)
Below we import the `FDADrugLabel.json` file into the `labels` variable. This is the same dataset as the practice. The resulting Python object is somewhat messy; we encourage you to explore the data before answering the questions.

You may use `for` loops for this question.

In [58]:
# Run but do not modify this code
import json
with open("FDADrugLabel.json") as f:
    labels = json.load(f)

In [38]:
# Use this cell to explore (and you are welcome to add more cells as needed)

Answer the following questions.

1. In `q6_1` put the average number of key/value (or name/value) pairs for the drugs.

2. In `q6_2` put the list of all of the `manufacturer_names` without any other information. `manufacturer_names` are not a top level key/name, you will need to search for where they are located and how to extract them.

3. In `q6_3` put how many drugs contain the string `child` anywhere in their `warnings` (including as part of larger strings like `children`). Note: `warnings` is a top level key/name.

In [88]:
# Put your code to answer the question here, and store answers as the following variables
import math 

q6_1 = [len(lab.keys()) for lab in labels].mean() # number of rows
q6_2 = ... # average System Memory GB
q6_3 = ... # number of missing rows

...

#each drug is one dictionary 
#json is a list of dictionaries of each drug
#for each drug, the dictionary has some key names, manufacturuer name, drug name, warning
#keys have sub keys
#drug has a key that says manufacturer 
#inside of that key could be another dictionary 
#use for loop
#for dictionary in drugs, index through it 
#try using a for loop, printing out each entry and index through it like it's a dictionary
#top-level key and sub key 
#for drug in drugs, put drug[manufacturer]

# Run but do not modify this code
print('q6_1:', q6_1)
print('q6_2:', q6_2)
print('q6_3:', q6_3)

AttributeError: 'list' object has no attribute 'mean'